/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header-section__h1{
margin: 0;
}

.header-section {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header-section img {
  width: 100%;
}

.header-section .header-section__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header-section {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-section__row {
  display: flex;
  margin-top: 20px;
}

.tasks-ul {
  margin: 0;
  padding: 0px;
}

.tasks-li,
.section__h2 {
  list-style: none;
}

.section__inp,
.section__btn {
  outline: none;
}

.section__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.section__btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section__h2 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section__inp-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.section__inp-text:focus {
  color: #333;
}

/* New Task */
.new-task {
  display: block;
}

.new-task {
  width: 318px;
}

/* Task list */
.tasks-li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-li>* {
  vertical-align: middle;
}

.tasks-li>.section__inp-check {
  margin: 0 10px;
}

.tasks-li>.section__lab {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks-li>.section__inp-text {
  width: 226px;
}

.tasks-li__delete .section__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks-li__delete .section__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.compl-section__tasks .section__lab {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-li .section__inp-text {
  display: none;
}

.incompl-section__edit-task .section__inp-text {
  display: inline-block;
  width: 224px;
}

.incompl-section__edit-task .section__lab {
  display: none;
}